---
layout: default
---
<script>
   //Funcion para seleccionar un texto y copiarlo
   function select(element){
      if(element.nodeName.toLowerCase()=='textarea' || (element.nodeName.toLowerCase()=='input' && element.type=='text')){
         element.select();
         document.execCommand("copy");
         return;
      }
      if (window.getSelection) {
         var sel = window.getSelection();
         var range = document.createRange();
         range.selectNodeContents(element);
         sel.removeAllRanges();
         sel.addRange(range);
         document.execCommand("copy");
      }
      else if (document.selection) {
         document.selection.empty();
         var range = document.body.createTextRange();
         range.moveToElementText(element);
         range.select();
         document.execCommand("copy");
      }
   }
</script>
<h3>Mensaje Moelo:</h3>
<div class="code-example">
   {{ content }}
</div>

{% for curso in site.data.cursos %}
   <h2>Curso: {{ curso.nombre }}</h2>
   <h3>Título: {{ page.title
               | replace: 'CC', curso.nombre
               | replace: 'PP', curso.profe
               | replace: 'PC', curso.profe_completo
               | replace: 'M1', curso.modulos.m1.nombre
               | replace: 'M2', curso.modulos.m2.nombre
               | replace: 'M3', curso.modulos.m3.nombre
               | replace: 'DC', curso.dia_chat
               | replace: 'DI', curso.dia_inicio
               | replace: 'DA', site.dia_aval
               | replace: 'DF', curso.dia_fin
               | replace: 'DFF', curso.dia_fin_final
               | replace: 'FN', curso.links.fn
               | replace: 'SC', curso.links.sc
               | replace: 'FC', curso.links.fc
               | replace: 'F1', curso.modulos.m1.f1
               | replace: 'F2', curso.modulos.m2.f2
               | replace: 'F3', curso.modulos.m3.f3
               | replace: 'C1', curso.modulos.m1.c1
               | replace: 'C2', curso.modulos.m2.c2
               | replace: 'C3', curso.modulos.m3.c3
               }}</h3>
   <!-- Al clickear algun cuadro se debe seleccionar -->
   <div onclick="select(this)">
      {% highlight html %}
      {{ content
                  | replace: 'CC', curso.nombre
                  | replace: 'PP', curso.profe
                  | replace: 'PC', curso.profe_completo
                  | replace: 'M1', curso.modulos.m1.nombre
                  | replace: 'M2', curso.modulos.m2.nombre
                  | replace: 'M3', curso.modulos.m3.nombre
                  | replace: 'DC', curso.dia_chat
                  | replace: 'DI', curso.dia_inicio
                  | replace: 'DA', site.dia_aval
                  | replace: 'DF', curso.dia_fin
	          | replace: 'DFF', curso.dia_fin_final
                  | replace: 'FN', curso.links.fn
                  | replace: 'SC', curso.links.sc
                  | replace: 'FC', curso.links.fc
                  | replace: 'F1', curso.modulos.m1.f1
                  | replace: 'F2', curso.modulos.m2.f2
                  | replace: 'F3', curso.modulos.m3.f3
                  | replace: 'C1', curso.modulos.m1.c1
                  | replace: 'C2', curso.modulos.m2.c2
                  | replace: 'C3', curso.modulos.m3.c3
                  }}
      {% endhighlight %}
   </div>
{% endfor %}
